body {
    font-family: Monospace;
	background-color: #f0f0f0;
	margin: 0px;
	overflow: hidden;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

pre{
    color: greenyellow;
}

canvas { 
    width: 100%; 
    height: 100% 
}